.create-item-form {
  justify-content: center;
  align-self: center;
}

.create-item-form input {
  inline-size: 12rem;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--white);
  font-size: 1.5rem;
}

.create-item-form input:focus {
  outline-color: var(--yellow);
  
}

.item-form-button {
  padding: 1rem;
  margin-left: 1rem;
  background-color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}